.sidebar-iframe {
  position: fixed !important;
  top: 0px !important;
  right: -100%;
  width: 35vw;
  min-width: 450px !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  z-index: 2147483647 !important;
  border: none;
  transition: all 0.5s ease-in-out;
}

.sidebar-container {
  all: unset;
  z-index: 2147483647 !important;
}

.sidebar-trigger-button {
  position: fixed !important;
  right: -4px !important;
  top: 50% !important;
  transform: translate(0px, -65px) !important;
  width: fit !important;
  height: fit !important;
  z-index: 2147483646 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 300 !important;
  margin: 0;
  font-size: 16px; /* 1rem * 16px */
  line-height: 20px; /* 1.5rem * 16px */
  width: fit-content;
  border: 1px solid white;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgb(130 130 130), rgb(130 130 130));
  padding: 17px 5px;
  --text-opacity: 1;
  color: rgb(255 255 255 / var(--text-opacity));
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  user-select: none;
  display: flex !important;
  justify-content: center !important;
}

::-webkit-scrollbar {
  display: none;
}
