@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.sidebar-iframe {
  position: fixed !important;
  top: 0px !important;
  right: -100%;
  width: 35%;
  min-width: 450px;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 2147483647 !important;
  border: none;
  transition: all 0.5s ease-in-out;
}

.sidebar-container {
  all: unset;
}

.sidebar-trigger-button {
  position: fixed !important;
  right: -52px !important;
  top: 45% !important;
  transform: translateY(-45%) !important;
  z-index: 2147483646 !important;
}

.vertical-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  transform: rotate(270deg);
  margin: 0;
  font-size: 16px; /* 1rem * 16px */
  line-height: 24px; /* 1.5rem * 16px */
  width: fit-content;
  border: 1px solid white;
  border-radius: 8px;
  background: linear-gradient(to bottom left, rgb(30 41 59), rgb(71 85 105));
  padding-left: 16px; /* 1rem * 16px */
  padding-right: 16px; /* 1rem * 16px */
  padding-top: 5px; /* 0.5rem * 16px */
  padding-bottom: 5px; /* 0.5rem * 16px */
  --text-opacity: 1;
  color: rgb(255 255 255 / var(--text-opacity));
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

::-webkit-scrollbar {
  display: none;
}
